.container {
    width: 35%;
    
    
  }
  
  
  input{
    font-size: 150%
  }
  .help-block{
    color: red;
  }
  
  
  label{
    font-size: 20px;
  }
  
  button{
    width: 50%;
    font-size: 15px;
   
  }

  /* Change styles for login button and signup button on extra small screens */
@media only screen and (max-width: 400px) {
  

  .container{
    width: 90%
  }
}