<div class="container">
    <h3>List of all the Users</h3>
    <div class="table-responsive" *ngIf='allUsers.length>0'>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Lastname</th>
                    <th>Mobile No.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let user of allUsers'>

                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.mobileNumber}}</td>
                    <td><button class="btn btn-primary" [routerLink]="['/event2',user.userId]">view events</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
