<div class="container">
    <h1 style="text-align: center">Welcome ! to my website</h1>
    <div style="margin-top: 30px" class="row">
        <div class="col-md-6">
            <div class="cimage">
                <img style="width: 60%; height:40%" src="../../assets/calendarimage.jpg">
            </div>
        </div>
        <div class="col-md-6">
            <p>This is a Meeting Planner app, designed to add, update, delete meetings of registered users.
                Users can register themselves and see the meetings assigned to them. </p><br />
            <p> Kindly login to see your meetings</p><br />
            <p> Or if you haven't Signed Up Yet, Please Sign In.</p>
        </div>
    </div>
    <div class="row" style="text-align: center; margin-top:30px">
        <div class="col-md-6">
            <h3> Frontend</h3>
        </div>
        <div class="col-md-6">
            <h3> Backend</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p> Frontend is developed using Angular CLI version 8</p>
        </div>
        <div class="col-md-6">
            <p> Frontend is developed using Nodejs, Express and MongoDb as Database</p>
        </div>

    </div>
</div>